<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
<!--
  <button ion-button color="light" (click)="pulsaste()">Miboton</button>
<button ion-button>Default</button>
<button ion-button color="secondary">Secondary</button>
<button ion-button color="danger">Danger</button>
<button ion-button color="dark">Dark</button>


<ion-list>
  <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
    {{ item }}
  </button>  
</ion-list>

-->
<ion-list>
  <ion-item>
    <ion-label>Lenguaje</ion-label>
    <ion-select [(ngModel)]="lenguaje">
      <ion-option *ngFor="let item of items" value="{{item}}" (ionSelect)="seleccion()">{{item}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>



</ion-content>
